<!DOCTYPE html>
<html lang="en">
<head>
    <title>$title$</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="../assets/style/post.css">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>🐧</text></svg>">
</head>
<body>
    <a id="home" href="../index.html">
        <img class="la-icon" src="../assets/img/home.svg" alt="">[Home]
    </a>
    <h1>$title$</h1>
    <span class="date-author"><em>$date$</em></span><br>
    <span class="date-author">by $author$</span>
    <hr>
    <div id="content">
        $body$
    </div>
    <footer>
        <hr>
        <p>
            <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a> |
            <a href="https://github.com/NDLUG/NDLUG.github.io">source code</a> |
            <a href="https://icons8.com/line-awesome">icons</a>
        </p>
        <p>
            (C) 2021 NDLUG
        </p>
    </footer>
</body>
</html>
